<p>
	<%= link_to "Add a New recipe", "/recipes/new" %>
</p>
<%= form_tag recipes_url, :method => "get" do %>
    <%= text_field_tag :keyword %>
    <%= submit_tag "Search" %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Rating</th>
  </tr>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.title, recipe_url(recipe.id) %></td>
    <td><%= recipe.date.getlocal.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td>
      <% recipe.stars.times do %>
        &#9733;
      <% end %>
      <% (5- recipe.stars).times do %>
        &#9734;
      <% end %>
    </td>
  </tr>
  <% end %>
</table>