<h3><%= @recipe.title %>  <%= link_to "(Edit...)", "/recipes/#{@recipe.id}/edit" %></h3>

<p>
  <span class="rating">Rated: <%= @recipe.stars %></span>
  "created at "
  <%= @recipe.date.getlocal.strftime("%Y-%m-%d %H:%M:%S") %>
  <% @recipe.stars.times do %>
    &#9733;
  <% end %>
  <% (5-@recipe.stars).times do %>
    &#9734;
  <% end %>
</p>
<%= image_tag @recipe.photo_url %>
<hr>
<p><%= @recipe.instruction %></p>