<h3><%= @recipe.title %>  <%= link_to "(Edit...)", "/recipes/#{@recipe.id}/edit" %></h3>

<p>
  <span class="rating">Rated: <%= @recipe.stars %></span>
  "created at "
  <%= @recipe.date.getlocal.strftime("%Y-%m-%d %H:%M:%S") %>
  <% @recipe.stars.times do %>
    &#9733;
  <% end %>
  <% (5-@recipe.stars).times do %>
    &#9734;
  <% end %>
  <h5>Tags</h5>
  <% @tags.each do |tag| %>
  	<ul>
  		<li>
  			<%= link_to tag.name, tag_url(tag.id) %>
  		</li>
  	</ul>
  <% end %>

</p>
<%= image_tag @recipe.photo_url %>
<hr>
<h5>Ingredients:</h5>
<p><%= @recipe.ingredients %></p>
<br>
<h5>Instructions:</h5>
<p><%= @recipe.instruction %></p>
<br>
<h5>Duration:</h5>
<p><%= @recipe.duration %></p>