<h3>Sign Up</h3>
<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_tag "/users" do %>
  <p>
    <%= label_tag :user_name %>
    <%= text_field_tag :user_name,  @user.user_name %>
    
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, @user.email %>
  </p>
  <p>
    <label>Gender: </label>
    <select name="gender">
      <% if @user.gender.present? %>
        <option selected="selected"><%= @user.gender %></option>
      <% end %>
      <option>Female</option>
      <option>Male</option>
    </select>
  </p>
  <p>
    <%= label_tag :photo_url %>
    <%= text_field_tag :photo_url, @user.photo_url %>
  </p>
  <p>
    <%= label_tag :background %>
    <%= text_area_tag :background, @user.background %>
  </p>
  <%= submit_tag "Sign Me Up!" %>
<% end %>