<!DOCTYPE html>
<html>
<head>
  <title>Recipe</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1><%= link_to "Recipes", "/" %>
    <!-- TODO : add 'cook' details
    <small><%= link_to "Recipes", '/recipes' %></small>
    -->
    </h1>
    <% if notice.present? %>
      <div class="alert alert-info"%><%= notice %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
